<style>
.flex-parent {
  display: flex;
  padding-top: 10%;
}
.flex-parentfle {
  display: flex;
}
.jc-center {
  justify-content: center;
}
.button{
    margin-top:20px;
}
    </style>

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Prestamos</title>
    </head>   
    <body>
    <div class="flex-parent jc-center">
        <form action="prestar" method="POST">
            <input name="monto" required type="number" placeholder="Dinero a prestar" step="0.1">
            <input type="submit" value="Prestar">
         </form>        
    </div>
    <div class="flex-parent jc-center" style="margin-bottom: 30px; padding-top: 0%;">
        {{ addstatus }}
    </div>
      
      <div class="flex-parentfle jc-center">
        <input type=button onClick="parent.location='actualizar'"value='Actualizar'>
      </div>
      <div class="flex-parentfle jc-center" style="padding-top: 20px">
        <table border = 1>
            <td>Socio que realiza el préstamo</td>
            <td>Cuota mensual </td>
            <td>Pago total del crédito</td>
            <td>Tasa de interés mensual</td>
            {% for item in data %}
            <tr>
                <td>{{item.nombre_Socio}}</td>
                <td>{{item.cuota_mensual}}</td>
                <td>{{item.pago_futuro}}</td>
                <td>{{item.tasa_interes_m}}</td>
            </tr>
            {% endfor %}
            </table>
    </div> 

    <div class="flex-parentfle jc-center" style="margin-top: 10px;">
      <input type=button onClick="parent.location='vsocios'"value='Detalles Socios'>
  </div>
  <div class="flex-parentfle jc-center" style="margin-top: 10px;">
    <input type=button onClick="parent.location='cargar'"value='Cargar Database-Test'>
</div>
</body>
    </html>  